:root{
    --primary-color: #565b54;
    --secondary-color: #6D7073;
    --text-color: lightgrey;
    --text-size: 20px;
}
body{
    display:flex;
    font-family:  Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: var(--text-size);
    margin: 0px;
}

/* Left Side */

.leftcol{
    display:flex;
    flex-direction:column;
    background-image: url("./images/road.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vh;
    width: 30vh;

    
}
img{
    height: 100px;
    width: auto;
    
}
.banner{
    display: flex;
    padding: 10px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(1.5px);
    justify-content: center;
    gap: 20px;
    text-align: center;
    align-items: center;
    height: 150px;
    margin-bottom: 25vh;
    font-size: calc(var(--text-size) * 2);

}

/* Right Side */

    /* top */

.rightcol{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100vw;
    
}

.pars{
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    width:auto;
    margin-left: 25px;
    font-size:  calc(var(--text-size) * 1.2);
}

    /* middle */

.forminput{
    display: flex;
    background-color: var(--secondary-color);
    align-content: center;
    height: 25vh;
}
form{
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    gap: 20px;
    
    
}
form > .entry > div > label{
    font-size: calc(var(--text-size) / 1.25);
    
}

.entry{
    display:inline-flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: var(--text-size) * 2;
    gap: 25px;
    margin-top: 10px;
    
}
.entry > div {
    display:flex;
    flex-direction: column;
}
input{
    width: 35vw;
}

    /* bottom */

.account{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 25px;
}
button{
    padding: 10px;
    font-size: var(--text-size);
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

